* {
    box-sizing: border-box;
    /* display: grid */
}
body {
    background: #f6f6f6;
    font: 16px/1.6 Roboto,Helvetica,sans-serif;
    font-weight: 300;
    margin: 0
}
mark {
    background-color: rgb(127,107,153);
    color:white
}
.main {
    /* display: grid; */
}

.site-main {
    margin-left: 25%;
    position: relative;
}
.site-main-inner {
    position: relative
}
.home-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* background: linear-gradient(10deg,rgba(0, 0, 0, 0.7),rgba(255, 255, 255, 0.9)),url(../Images/charlotte.jpg)top center no-repeat #bababa; */
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    padding-left: 110px;
    padding-top: 130px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    font-size: 12px;
    /* display: grid; */
    max-width: 1400px;

}
.home-section-inner {
    margin-left: 2%;
    color: black;
    margin-top: 150px;
}

.home-section-heading {
    font-size: 4em;
    font-weight: 500;
}

@media screen and (max-width:500px) {
   .home-section-inner {
        font-size: 10px;
    }
}
@media screen and (max-width:1024px) {
   
    .site-main {
        margin: 0 auto;
        position: relative;
        /* margin-top:20%; */
        margin-right: auto;
        padding: 30px 20px;
        right: 20%;
        /* bottom: 30%; */
        width: fit-content;
    }
    .home-section-heading {
        /* background-color: red; */
        margin: 0 auto;
        margin-right: 5% ;
        right: 2px;
        /* position: relative; */
        position: absolute;
        width: 100%;
        /* margin-top: 20%; */
    }
    .home-section {
        font-size: 20px;
    }
}

/* @media screen and (max-width:1023px) {
    .sidebar-container {
        width: auto;
        background-color: red;
    }
    .site-main {
        margin: 0 auto;
        position: relative;
        margin-top:40%;
        margin-right: auto;
        padding: 30px 20px;
        right: 30%;
        bottom: 30%;
        width: 85%;
    }
    .home-section-heading {
        background-color: red;
        margin: 0 auto;
        margin-right: 50% ;
        position: relative;
        position: absolute;
        width: auto;
        margin-top: 40%;
    }
}
 */
